@charset "utf-8";
@import url("reset.css");
@import url("font.css");
/* common */
#wrap{position:relative;}
.cont_center{max-width:1400px;margin:0 auto;}
.ps_re{position:relative;}


/* header */
header{position:relative;height:80px;}
header .header_fix{position:fixed;top:0;left:0;right:0;height:80px;border-bottom:1px solid #ddd;z-index:20;transition:.5s;}
header .header_fix.scroll_on{border-bottom:0;height:60px;}
header .header_inner{position:relative;max-width:1600px;margin:0 auto;height:100%;}
header .header_inner .logo{position:absolute;left:0px;top:20px;}
header .header_fix.scroll_on .logo{top:15px;}
header .header_inner .logo img{height:40px;transition:.5s;}
header .header_fix.scroll_on .logo img{height:30px;}

header .header_inner .menu_btn{position:absolute;right:0px;top:50%;margin-top:-13px;text-align:right;z-index:51;}
header .header_inner .menu_btn .inner{position:relative;display:block;width:40px;height:30px;}
header .header_inner .menu_btn span{display:block;width:100%;height:3px;margin-bottom:9px;position:relative;background:#222;border-radius: 3px;z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
header .header_inner .menu_btn span:first-child
{
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
header .header_inner .menu_btn span:nth-child(2)
{
  width:80%;
}
header .header_inner .menu_btn span:last-child
{
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
header .header_inner .menu_btn.on span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-3px, -2px);
          transform: rotate(45deg) translate(-3px, -2px);
  background: #fff;
}
header .header_inner .menu_btn.on span:nth-child(2)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}
header .header_inner .menu_btn.on span:last-child
{
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.gnb_bg{display:none;position:fixed;left:0;right:0;z-index:50;width:100%;height:100%;background:#111;opacity:0.95;}
.gnb_bg .bg_txt{font-size:260px;position:absolute;top:50%;margin-top:-90px;margin-left:50px;line-height:180px;width:100%;text-align:Center;color:#808080;opacity:0;font-weight:500;letter-spacing:-0.06em;}
#gnb{display:none;position:fixed;left:0;right:0;top:50%;z-index:51;text-align:center;transform:translateY(-50%);}
#gnb ul li{margin-top:90px;}
#gnb ul li:first-child{margin-top:0;}
#gnb ul li a{display:inline-block;position:relative;font-size:75px;color:#fff;font-weight:500;}
#gnb ul li a:after{content:'';display:block;position:absolute;left:0;bottom:5px;width:0;height:20px;background:#4d6efe;z-index:-1;transition:all 0.4s;}
#gnb ul li a:hover:after{width:100%;}


/* footer */
footer{padding:50px 0;text-align:center;border-top:1px solid #ddd;}
footer .adr_txt{margin-bottom:10px;}
footer .footer_logo{max-width:100px;margin:0 auto 30px;}
footer .footer_logo img{width:100%;}
footer .adr_txt .txt{font-size:0;font-size:14px;color:#222;font-weight:400;}
footer .adr_txt .txt span:after{content:'';display:inline-block;margin:0 8px;width:1px;height:10px;background:#555;}
footer .copyright{font-size:14px;color:#222;}


/* intro */
#intro{position:fixed;top:0;bottom:0;left:0;right:0;z-index:1000;background:#fff;}
#intro .intro_inner{position:relative;height:100%;max-width:1600px;margin:0 auto;}
#intro svg{position:absolute;top:50%;margin-top:-45px;width:100%;}
#intro #logo_load .st0{fill:none;stroke:#231815;stroke-miterlimit:10;}
#intro #logo_load .st1{fill:#FFFFFF;}
#intro #logo_load .st2{clip-path:url(#SVGID_3_);fill:#4D6EFE;}
#percentPath{animation-name:path;animation-duration: 1.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;animation-iteration-count:infinite;}
@keyframes path{ 
    from { stroke-width: 0;}   
    to   { stroke-width: 100%;}
}


/* workList */
.work_list{padding-top:80px;margin-bottom:100px;}
.work_list .grid{position:relative;}
.work_list .grid .grid-item{display:inline-block;position:absolute;width:40%;max-width:500px;padding:20px;overflow:hidden;}
.work_list .grid .grid-item .inner_box{position:relative;top:40px;left:0;right:0;width:100%;height:100%;opacity:0;transition:0.8s;}
.work_list .grid .grid-item.on .inner_box{opacity:1;top:0;}
.work_list .grid .grid-item .bg{opacity:0;position:absolute;left:0;width:100%;height:100%;text-align:left;top:0;transition:.5s;background:url(../images/list_hover_bg.png) repeat center;/*transform: rotate(-50deg) scale(2,0);*/}
.work_list .grid .grid-item.hover .bg{opacity:1;}
.work_list .grid .grid-item a{position:relative;display:block;margin:0 auto;overflow:hidden;}
.work_list .grid .grid-item .thumb_img{position:relative;overflow:hidden;display:block;}
.work_list .grid .grid-item .thumb_img img{width:100%;}
.work_list .grid .grid-item .pj_cont{position:relative;margin:20px 0 0 20px;}
.work_list .grid .grid-item .pj_cont dl dt{margin-bottom:10px;font-size:34px;line-height:30px;color:#333;font-weight:400;}
.work_list .grid .grid-item .pj_cont dl dt span{display:inline-block;margin:0px 0 0 10px;font-size:20px;}
.work_list .grid .grid-item .pj_cont dl dd{line-height:28px;font-size:20px;color:#555;word-break:keep-all;}


/* about me */
.about{width:100%;padding:100px 0;background:#eee;}
.about h2.title{margin-bottom:80px;text-align:center;font-size:60px;line-height:60px;font-weight:500;}
.about h3{margin-bottom:40px;text-align:center;line-height:40px;font-size:36px;font-weight:500;}
.about h3 span{position:relative;z-index:1;}
.about h3 span:after{content:'';display:block;position:absolute;bottom:5px;left:0;right:0;height:10px;width:100%;background:#4d6efe;z-index:-1;}
.about .bg_txt{position:absolute;top:50%;margin-top:-100px;font-size:200px;font-weight:500;color:#fff;opacity:0.4;z-index:-1;}
.about .about_cont{margin-bottom:80px;}
.about .about_cont ul{text-align:center;margin-top:-20px;padding:0 30px;}
.about .about_cont ul li{position:relative;display:inline-block;margin-top:20px;padding-left:65px;margin-left:50px;height:50px;line-height:50px;font-size:18px;font-weight:400;color:#555;}
.about .about_cont ul li a{color:#555;}
.about .about_cont ul li span.txt{display:inline-block;line-height:24px;vertical-align:middle;word-break:keep-all;}
.about .about_cont ul li span.icon{display:block;position:absolute;left:0;top:0;width:50px;height:50px;background-image:url(../images/about_icons.png);background-position:0 0;background-repeat:no-repeat;}
.about .about_cont ul li:first-child{margin-left:0;}
.about .about_cont ul li.icon02 span{background-position:-50px 0;}
.about .about_cont ul li.icon03 span{background-position:-100px 0;}
.about .about_cont ul li.icon04 span{background-position:-150px 0;}
.about .about_cont ul li.icon05 span{background-position:-200px 0;}

.about .history_cont{position:relative;margin-bottom:80px;z-index:1;}
.about .history_list{position:relative;}
.about .history_list .line{display:block;position:absolute;left:0;right:0;width:1px;margin:0 auto;height:100%;background:#4d6efe;}
.about .history_list ul{padding:30px;}
.about .history_list ul li{position:relative;width:50%;margin-top:50px;font-size:18px;line-height:32px;color:#555;font-weight:400;box-sizing:border-box;word-break:keep-all;}
.about .history_list ul li span{display:block;margin-bottom:5px;font-size:22px;color:#4d6efe;}
.about .history_list ul li:after{content:'';display:block;position:absolute;top:10px;width:10px;height:10px;background:#4d6efe;border-radius:10px;}
.about .history_list ul li:first-child{margin-top:0;}
.about .history_list ul li.right{left:50%;padding-left:40px;}
.about .history_list ul li.right:after{left:-5px;}
.about .history_list ul li.left{padding-right:40px;text-align:right;}
.about .history_list ul li.left:after{right:-5px;}

.about .skill_cont{position:relative;z-index:1;}
.about .skill_cont .bg_txt{right:0;}
.about .skill_cont ul{margin-top:-20px;overflow:hidden;padding:0 30px;}
.about .skill_cont ul li{position:relative;float:left;width:33.33%;margin-top:20px;padding-left:65px;height:50px;line-height:50px;font-size:18px;font-weight:400;color:#555;box-sizing:border-box;}
.about .skill_cont ul li span.txt{display:inline-block;line-height:24px;vertical-align:middle;word-break:keep-all;}
.about .skill_cont ul li span.icon{display:block;position:absolute;left:0;top:0;width:50px;height:50px;background:url(../images/about_icons.png) 0 -50px no-repeat;}
.about .skill_cont ul li:first-child{margin-left:0;}
.about .skill_cont ul li.icon02 span{background-position:-50px -50px;}
.about .skill_cont ul li.icon03 span{background-position:-100px -50px;}
.about .skill_cont ul li.icon04 span{background-position:-100px -50px;}
.about .skill_cont ul li.icon05 span{background-position:-150px -50px;}
.about .skill_cont ul li.icon06 span{background-position:-200px -50px;}



/* view */
.view_wrap header{height:0;}
.view_wrap header .header_fix{border-bottom:0;background:url(../images/work/view_hd_bg.png) 0 0 repeat;}

.view .mv{position:relative;width:100%;overflow:hidden;}
.view .mv .bg{position:absolute;top:0;left:0;right:0;width:100%;height:100%;transform:scale(1.1);background-repeat:no-repeat;background-size:cover;background-position:center;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;}
.view .mv .bg.iosnone{background-attachment: fixed;
  background-position: center center;
  background-size: cover;}
.view .mv .cover_bg{position:absolute;top:0;left:0;bottom:0;right:0;}
.view .mv .basic_bg{display:block;width:100%;height:100%;background:#000;opacity:0.2;}
.view .mv .bottom_bg{position:absolute;bottom:0;left:0;height:100%;width:100%;background:url(../images/work/view_mv_bg.png) repeat-x center bottom;}
.view .mv .cover_bg .arrow{position:absolute;bottom:60px;left:0;right:0;text-align:center;}
.view .mv .cover_bg .arrow a{color:#fff;font-size:30px;font-weight:500;}
.view .mv .cover_bg .arrow .icon{display:block;position:relative;bottom:10px;width:35px;height:19px;margin:30px auto 0;background:url(../images/work/view_mv_arrow.png) no-repeat center;}
.view .mv.drg .bg{background-image:url(../images/work/drg/mv.jpg);}
.view .mv.sum .bg{background-image:url(../images/work/lg_sum/mv.jpg);}
.view .mv.lifetech .bg{background-image:url(../images/work/lifetech/mv.jpg);}
.view .mv.kolon2016 .bg{background-image:url(../images/work/kolon2016/mv.jpg);}
.view .mv.kolon2015 .bg{background-image:url(../images/work/kolon2015/mv.jpg);}
.view .mv.kobaco .bg{background-image:url(../images/work/kobaco/mv.jpg);}

.info_wrap{position:relative;margin-top:100px;}
.info_wrap .cont_center{overflow:hidden;}
.info_wrap .info_bg{display:block;position:absolute;left:0;right:0;bottom:0;text-align:center;color:#999;line-height:120px;font-size:150px;font-weight:bold;opacity:0.1;word-break: break-word;}
.info_wrap .title{float:left;padding-left:150px;}
.info_wrap .title dl dt{margin-bottom:20px;line-height:32px;font-size:30px;font-weight:500;word-break:keep-all;}
.info_wrap .title dl dd{text-align:right;font-size:18px;color:#555;}
.info_wrap .cont{float:right;width:400px;padding-right:150px;} 
.info_wrap .cont dl{overflow:hidden;margin-top:40px;}
.info_wrap .cont dl:first-child{margin-top:0;}
.info_wrap .cont dl dt{float:left;width:200px;font-size:22px;font-weight:500;}
.info_wrap .cont dl dd{float:left;font-size:18px;color:#555;font-weight:300;}

.detail_wrap{margin-top:100px;}
.detail_wrap .screen_sec{margin-bottom:100px;text-align:center;}
.detail_wrap .screen_sec .scroll_img span{display:block;position:absolute;}
.detail_wrap .screen_sec .scroll_img img{width:100%;}
.detail_wrap .screen_sec .ps_re{display:inline-block;}
.detail_wrap .screen_sec .pc_ver .scroll_img{position:absolute;top:40px;left:40px;width:736px;height:413px;overflow:hidden;}
.detail_wrap .screen_sec .tablet_ver{top:110px;margin-left:-140px;z-index:2}
.detail_wrap .screen_sec .tablet_ver .scroll_img{position:absolute;top:28px;left:29px;width:337px;height:445px;overflow:hidden;z-index:1;}
.detail_wrap .screen_sec .m_ver{top:245px;margin-left:-140px;z-index:3}
.detail_wrap .screen_sec .m_ver .top_bg{position:absolute;left:50%;margin-left: -60px;top:23px;z-index:2;}
.detail_wrap .screen_sec .m_ver .scroll_img{position:absolute;top:25px;left:23px;width:205px;height:409px;border-radius:20px;overflow:hidden;z-index:1;}
.detail_wrap .detail_img img{width:100%;}
.detail_wrap .screen_sec.reaction_ty .m_ver .top_bg{margin-left:-45px;top:18px;}
.detail_wrap .screen_sec.reaction_ty .m_ver .scroll_img{top:20px;left:19px;width:164px;height:324px;border-radius:15px;}

.back_list{position:relative;height:300px;max-width:1400px;margin:0 auto;text-align:right;}
.back_list a{position:relative;display:inline-block;margin:130px 120px 0 0;padding-right:80px;font-size:50px;font-weight:400;line-height:50px;}
.back_list a .arrow{position:absolute;right:0;margin-left:50px;width:25px;height:50px;background:url(../images/work/back_arrow.png) no-repeat center;vertical-align:middle;transition:.5s;}
.back_list a:hover .arrow{right:-20px;}
.back_list a .text{position:relative;}
.back_list a .text:after{content:'';display:block;position:absolute;left:0;bottom:2px;width:0;height:20px;background:#4d6efe;z-index:-1;transition:all 0.4s;}
.back_list a:hover .text:after{width:100%;}


/* Media Query */
@media screen and (max-width: 1600px) {
  header .header_inner{padding:0 0px;}
  header .header_inner .logo{left:20px;}
  header .header_inner .menu_btn{right:20px;}
  header .header_fix{border-bottom:0;background:url(../images/work/view_hd_bg.png) 0 0 repeat;}
  .gnb_bg .bg_txt{font-size:160px;line-height:160px;}


  .info_wrap .title{width:50%;padding:0 2% 0 2%;text-align:center;box-sizing:border-box;}
  .info_wrap .title dl{display:inline-block;}
  .info_wrap .cont{width:50%;padding:0 2% 0 2%;box-sizing:border-box;}

  .detail_wrap .screen_sec .ps_re img{width:100%;}

  .detail_wrap .screen_sec .pc_ver .scroll_img{left:5%;top:6%;width:88%;height:65%;}
}

@media screen and (max-width: 1024px) {
  header .header_inner{padding:0 0px;}
  header .header_inner .logo{left:20px;}
  header .header_inner .logo img{height:34px;}
  header .header_inner .menu_btn{right:20px;width:36px;height:26px;}
  header .header_inner .menu_btn span{height:2px;}
  #gnb ul li{margin-top:50px;}
  #gnb ul li a{font-size:65px;}
  .gnb_bg .bg_txt{font-size:140px;line-height:140px;}
  .cont_center{padding:0 40px;}

  .work_list{padding-top:50px;}

  .about .bg_txt{font-size:150px;margin-top:-90px;}
  .work_list .grid .grid-item{padding:0;}
  .work_list .grid .grid-item .pj_cont dl dt{margin-bottom:5px;font-size:28px;line-height:24px;}
  .work_list .grid .grid-item .pj_cont dl dt span{font-size:18px;}
  .work_list .grid .grid-item .pj_cont dl dd{font-size:18px;}

  #intro svg{height:70px;}
  
  .about .cont_center{padding:0px;}
  .work_list .grid .grid-item .pj_cont{margin: 10px 0 0 10px;}

  .view .mv .cover_bg .arrow a{font-size:25px;}
  .view .mv .cover_bg .arrow .icon{background-size:auto 15px;}
  .info_wrap{margin-top:60px;}
  .info_wrap .cont_center{text-align:center;}
  .info_wrap .title{width:100%;float:none;padding:0;margin-bottom:30px;}
  .info_wrap .title dl dt{margin-bottom:10px;}
  .info_wrap .title dl dd{text-align:left;}
  .info_wrap .cont{display:inline-block;width:auto;float:none;padding:0;}
  .info_wrap .cont dl{margin-top:20px;}
  .info_wrap .cont dl dt{text-align:left;}
  .detail_wrap{margin-top:60px;}
  .detail_wrap .screen_sec{margin-bottom:50px;}
  .detail_wrap .screen_sec .tablet_ver{top:0;margin-left: 0;}
  .detail_wrap .screen_sec .m_ver{top:0px;margin-left:0px;}
  .detail_wrap .screen_sec.reaction_ty .m_ver{top:140px;margin-left: -60px;}
  .detail_wrap .screen_sec .tablet_ver .scroll_img{left:7%;top:5%;width:83%;height:86%;}

  .back_list{height:200px;}
  .back_list a{margin:50px 60px 0 0;padding-right:50px;font-size:30px;}
  .back_list a .text:after{height:10px;}
  .back_list a .arrow{background-size:auto 30px;}
}

@media screen and (max-width: 767px){
  header{height:60px;}
  header .header_fix{height:60px;}
  header .header_inner .logo img{height:25px;}
  header .header_fix.scroll_on .logo img{height:25px;}
  header .header_inner .menu_btn .inner{width:30px;}
  header .header_inner .menu_btn span{height:2px;}
  #gnb ul li{margin-top:40px;}
  #gnb ul li:first-child{margin-top:0;}
  #gnb ul li a{font-size:40px;}
  header .header_inner .menu_btn.on span{transform: rotate(45deg) translate(1px, 1px);}
  .cont_center{padding:0 20px;}
  .about .cont_center{padding:0 20px;}

  .work_list{padding-top:10px;}
  .gnb_bg .bg_txt{display:none;}
  .work_list .grid .grid-item{position:relative;display:block;width:100%;max-width:100%;box-sizing:border-box;}

  .about{padding:60px 0;}
  .about .bg_txt{display:none;}
  .about h2.title{margin-bottom:50px;line-height:50px;font-size:50px;}
  .about h3{margin-bottom:35px;font-size:32px;}
  .about h3 span:after{height:8px;}
  .about .about_cont{margin-bottom:50px;}
  .about .about_cont ul{max-width:280px;margin:0px auto;}
  .about .about_cont ul li{display:block;text-align:left;padding-left:55px;margin-left:0;height:40px;line-height:40px;font-size:16px;}
  .about .about_cont ul li span.icon{width:40px;height:40px;background-size: 200px;}
  .about .about_cont ul li.icon02 span{background-position:-40px 0;}
  .about .about_cont ul li.icon03 span{background-position:-80px 0;}
  .about .about_cont ul li.icon04 span{background-position:-120px 0;}
  .about .about_cont ul li.icon05 span{background-position:-160px 0;}

  .about .skill_cont ul{font-size:0;}
  .about .skill_cont ul li{display:inline-block;float:none;padding-left:55px;min-width:50%;width:auto;height:40px;line-height:40px;font-size:16px;}
  .about .skill_cont ul li span.icon{width:40px;height:40px;background-size:200px;background-position:0 -40px;}
  .about .skill_cont ul li.icon02 span{background-position:-40px -40px;}
  .about .skill_cont ul li.icon03 span{background-position:-80px -40px;}
  .about .skill_cont ul li.icon04 span{background-position:-80px -40px;}
  .about .skill_cont ul li.icon05 span{background-position:-120px -40px;}
  .about .skill_cont ul li.icon06 span{background-position:-160px -40px;}

  .about .history_cont{margin-bottom:50px;}
  .about .history_list ul{padding:20px 0px;}
  .about .history_list ul li{margin-top:20px;line-height:22px;font-size:15px;}
  .about .history_list ul li span{margin-bottom:5px;font-size:18px;}
  .about .history_list ul li.left{padding-right:20px;}
  .about .history_list ul li.right{padding-left:20px;}
  .next_line{display:block;font-size:0;text-indent:-99999px;overflow:hidden;height:0;line-height:0;}

  footer .footer_logo img{width:80%;}
  footer .adr_txt .txt{font-size:12px;}
  footer .copyright{font-size:12px;}
  
  .info_wrap .title dl dt{margin-bottom:5px;font-size:25px;line-height:28px;}
  .info_wrap .title dl dd{font-size:16px;text-align:center;}
  .info_wrap .cont dl dt{width:160px;font-size:20px;}
  .info_wrap .cont dl dd{font-size:16px;}
  .detail_wrap .screen_sec.reaction_ty .m_ver{top:0px;margin-left:0px;}

  .back_list{height:140px;}
  .back_list a{margin:30px 20px 0 0;padding-right:30px;font-size:20px;}
  .back_list a .text:after{height:10px;}
  .back_list a .arrow{background-size:auto 20px;}
}


@media screen and (max-width: 480px) {
  #intro svg{height:60px;}
  .about h2.title{margin-bottom:30px;font-size:40px;line-height:40px;}
  .work_list .grid .grid-item{padding:0;}
  .about .about_cont ul li{font-size:15px;}
  .about .about_cont ul li span.txt{line-height:22px;}
  .about .skill_cont ul li{min-width:100%;font-size:15px;}
  .about .skill_cont ul li span.txt{line-height:22px;}

  .work_list .grid .grid-item .pj_cont dl dt{margin-bottom:5px;font-size:24px;line-height:22px;}
  .work_list .grid .grid-item .pj_cont dl dt span{font-size:16px;}
  .work_list .grid .grid-item .pj_cont dl dd{font-size:16px;}
  
  .about .history_list ul li{line-height:20px;font-size:14px;}
  .about .history_list ul li span{margin-bottom:5px;font-size:16px;}
  .work_list .grid .grid-item .pj_cont{margin:20px 0 0;}
  .info_wrap .cont dl dt{float:none;width:100%;text-align:center;}
  .info_wrap .cont dl dd{float:none;text-align:center;}
}