/* Reset CSS */
html{width:100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,button{font-family:'Montserrat','Noto Sans',sans-serif;font-size:12px;color:#222;letter-spacing:-0.03em;}
body{position:relative;overflow-y:scroll;-webkit-overflow-scrolling: touch;-webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;background-color:#fff;word-break:break-all;-ms-word-break:break-all;font-weight:300;-webkit-overflow-scrolling: touch;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle;font-family:'Montserrat','Noto Sans',sans-serif;}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
button *{position:relative}
button img{left:-3px;*left:auto}
option{padding-right:6px}
/* hidden */
hr, legend, .hide{position:absolute;left:-2000%;width:1px;height:1px;overflow:hidden;font-size:0;line-height:0;z-index:-1;}

/* Common */
.show{display:block}
iframe{vertical-align:top}

a {text-decoration:none; color:#111; }
a:hover {text-decoration:none;}
a:active, a:focus{text-decoration:none;}

textarea {padding:20px;width:100%;font-family:'Montserrat','Noto Sans KR',sans-serif;font-size:16px;color:#666;border:1px solid #ddd;background-color:#fff; box-sizing:border-box;overflow:auto;resize:none;}
label {cursor:pointer;}
table {border-collapse:collapse; border:0; padding:0;}
table tr td, table tr th{border-collapse:collapse; border:0; padding:0;}
caption {display:none;}
select{width:100%;border:1px solid #eee;padding-left:5px;font-size:15px;height:45px;line-height:45px;color:#aaa;vertical-align:middle;border-radius:0px;-webkit-appearance:none;background:#fff url(../images/common/select_arrow.gif) no-repeat 95% center;outline:none;}

input[type="radio"] {width:24px;height:24px;border:1px solid #e8e8e8;box-sizing:border-box;margin:0; padding:0;-webkit-appearance: none;outline:none;-webkit-appearance: none; -moz-appearance: none; -o-appearance: none;}
input[type="radio"]:checked {width:24px;height:24px;background:url(../images/common/check_bg_on.png) no-repeat 0 0;}
/* This will make the border gray when the button is not checked. */
input[type=radio]:not(:checked)::-ms-check {
  border-color: gray; 
}
input[type=radio]::-ms-check {
  border-color: red; /* This will make the border red when the button is checked. */
  color: red; /* This will make the circle red when the button is checked. */
}
input[type="checkbox"]{position:relative;width:24px;height:24px;margin:0; padding:0;-webkit-appearance: none;outline:none;border:1px solid #e8e8e8;box-sizing:border-box;-webkit-appearance: none; -moz-appearance: none; -o-appearance: none;}
input[type="checkbox"]:checked{background:url(../images/common/check_box_on.png) no-repeat center;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* etc */
.fr {float:right !important;}
.fl {float:left !important;}
.ov {overflow:hidden !important;}
.txtl {text-align:left !important;}
.txtr {text-align:right !important;}
.txtc {text-align:center !important;}
.txtb {font-weight:bold !important;}
.brtn{border-top:none !important;}
.brbn{border-bottom:none !important;}
.brrn{border-right:none !important;}

.pos_relative{position:relative;}

/*  */
.input_box{position:relative;padding:0px 20px;background:#fff;border:1px solid #ddd;}
.input_box .placeholder{position:absolute;top:0px;left:20px;line-height:50px;font-size:16px;color:#a8a8a8;}
.input_box input[type="text"], .input_box input[type="password"], .input_box input[type="search"], .input_box input[type="tel"]{width:100%;height:50px;font-size:14px;border:none;line-height:28px;outline:none;padding:0px;margin:0px;background:#fff;box-sizing:border-box;}


/* margin / padding */
.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt80{padding-top:80px !important;}
.pt100 {padding-top:100px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:50px !important;}
.pb80 {padding-bottom:80px !important;}
.pb100 {padding-bottom:100px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}

.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt80 {margin-top:80px !important;}
.mt120 {margin-top:120px !important;}

.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb13 {margin-bottom:13px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb80 {margin-bottom:80px !important;}
.mb90 {margin-bottom:80px !important;}
.mb100 {margin-bottom:100px !important;}
.mb120 {margin-bottom:120px !important;}
.mb200 {margin-bottom:200px !important;}

.ml0 {margin-left:0 !important;}
.ml1 {margin-left:1px !important;}
.ml5 {margin-left:5px !important;}
.ml8 {margin-left:8px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0 !important;}
.mr1 {margin-right:1px !important;}
.mr5 {margin-right:5px !important;}
.mr6 {margin-right:6px !important;}
.mr10 {margin-right:10px !important;}
.mr12 {margin-right:12px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}
.mr100 {margin-right:100px !important;}



