<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="no-cache" http-equiv="Pragma" />
	<meta content="no-cache" http-equiv="Cash-Control" />
	<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">
    <meta property="og:type" content="website">
	<meta property="og:title" content="UM HAN NA">
	<meta property="og:url" content="https://umhanna.github.io/website/">
	<meta property="og:image" content="https://umhanna.github.io/website/images/urlImg.jpg">
	<title>UM HAN NA</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css" media="all" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/TweenMax.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>
<div id="wrap" class="view_wrap">
    <div id="intro">
        <div class="intro_inner">
            <svg version="1.1" id="logo_load" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="260px" height="90px"
            viewBox="0 0 260 90" enable-background="new 0 0 260 90" xml:space="preserve">
            <g id="ly_3">
                <defs>
                    <path id="SVGID_2_" d="M256.809,3.679h-0.072V3.678h-50.088h-3.86h-0.029l-20.331,75.693L143,3.678h-3.627l-0.002,0.006H88.954
                        h-3.946h-0.032l-10.53,38.961h-55.81L29.165,3.684h-3.978l-21.996,81.9h3.978l10.53-39.432H73.51L62.98,85.584h0.031h3.947
                        h0.031l10.296-38.375l50.333,0.041l0.164-0.545h0.036l-10.44,38.873h3.744L141.6,9.293l39.371,75.504l-0.193,0.719l-0.381-0.74
                        l-0.608,1.547l1.358-0.094l-0.336-0.65h0.566h3.275h0.086l10.297-38.375h46.396l-10.307,38.375h3.979l11.232-41.887
                        l9.711-36.503h-0.008L256.809,3.679z M128.613,43.74l-50.391-0.042l1.586-5.964l8.203-30.541h50.417L128.613,43.74z
                            M242.375,43.691h-46.404l7.187-27.011l2.55-9.493h46.473L242.375,43.691z"></path>
                </defs>
                <clipPath id="SVGID_3_">
                    <use xlink:href="#SVGID_2_"  style="overflow:visible;"></use>
                </clipPath>
                <path class="st2" stroke="#4D6EFE" stroke-width="10" id="percentPath" d="M0 90 l260 0"></path>
                <path id="SVGID_1_" class="st0" d="M256.809,3.679h-0.072V3.678h-50.088h-3.86h-0.029l-20.331,75.693L143,3.678h-3.627
                    l-0.002,0.006H88.954h-3.946h-0.032l-10.53,38.961h-55.81L29.165,3.684h-3.978l-21.996,81.9h3.978l10.53-39.432H73.51
                    L62.98,85.584h0.031h3.947h0.031l10.296-38.375l50.333,0.041l0.164-0.545h0.036l-10.44,38.873h3.744L141.6,9.293l39.371,75.504
                    l-0.193,0.719l-0.381-0.74l-0.608,1.547l1.358-0.094l-0.336-0.65h0.566h3.275h0.086l10.297-38.375h46.396l-10.307,38.375h3.979
                    l11.232-41.887l9.711-36.503h-0.008L256.809,3.679z M128.613,43.74l-50.391-0.042l1.586-5.964l8.203-30.541h50.417L128.613,43.74
                    z M242.375,43.691h-46.404l7.187-27.011l2.55-9.493h46.473L242.375,43.691z"></path>
                <polygon class="st1" points="180.031,84.078 181.281,86.063 181.719,86.063 182.266,86.844 178.578,87.063"></polygon>
            </g>
            </svg>
            <!-- //logo_load -->
        </div>
    </div>
	<!-- header -->
	<header>
		<div class="header_fix">
			<div class="header_inner">
                <h1 class="logo"><a href="/website/"><img src="../images/logo.png" alt=""></a></h1>
                <div class="menu_btn">
                    <a href="javascript:;" class="inner">
                        <em class="hide">메뉴열기</em>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
				<div id="gnb">
					<ul>
						<li><a href="/website/">HOME</a></li>
						<li><a href="#work">WORK</a></li>
						<li><a href="#about">ABOUT ME</a></li>
					</ul>
				</div>
				<div class="gnb_bg"><div class="bg_txt"></div></div>
			</div>
		</div>
    </header>
    <!-- //header -->
	<!-- container -->
	<div id="container" class="view">
        <!-- mv -->
        <div class="mv drg">
            <div class="bg iosnone"></div>
            <div class="cover_bg">
                <span class="basic_bg"></span>
                <span class="bottom_bg"></span>
                <div class="arrow">
                    <a href="">SCROLL<span class="icon"></span></a>
                </div>
            </div>
        </div>
        <!-- //mv -->
        <!-- info_wrap -->
        <div class="info_wrap">
            <div class="cont_center">
                <div class="title">
                    <dl>
                        <dt>DR.G <em class="next_line"></em>PROMOTION SITE</dt>
                        <dd>닥터지 프로모션 사이트 PC, M 퍼블리싱</dd>
                    </dl>
                </div>
                <div class="cont">
                    <dl>
                        <dt>CLIENT.</dt>
                        <dd>DR.G</dd>
                    </dl>
                    <dl>
                        <dt>DATE.</dt>
                        <dd>2018.03</dd>
                    </dl>
                    <dl>
                        <dt>PUBLISHING.</dt>
                        <dd>100%</dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- //info_wrap -->
        <!-- detail_wrap -->
        <div class="detail_wrap">
            <div class="cont_center">
                <div class="screen_sec">
                    <div class="ps_re pc_ver">
                            <img src="../images/work/view_pc.png" alt="">
                            <div class="scroll_img"><span><img src="../images/work/drg/screen_pc.jpg" alt=""></span></div>
                    </div>
                    <div class="ps_re m_ver">
                            <img src="../images/work/view_mobile.png" alt="">
                            <span class="top_bg"><img src="../images/work/view_mobile_bg.png" alt=""></span>
                            <div class="scroll_img"><span><img src="../images/work/drg/screen_pc.jpg" alt=""></span></div>
                    </div>
                </div>
            </div>
            <div class="detail_img"><img src="../images/work/drg/detail01.jpg" alt="닥터지 pc디자인들"></div>
            <div class="detail_img"><img src="../images/work/drg/detail02.jpg" alt="닥터지 모바일디자인들"></div>
            <div class="back_list">
                <a href="javascript:history.back();"><span class="text">BACK TO LIST</span><span class="arrow"></span></a>
            </div>
        </div>
        <!-- //detail_wrap -->
	</div>
	<!-- //container -->
	<!-- footer -->
	<footer>
        <div class="adr_txt">
            <p class="footer_logo"><img src="../images/logo.png" alt=""></p>
            <p class="txt">010 2030 0753 <span></span> oneme5797@gmail.com</p>
        </div>
        <p class="copyright">Copyright © 2019. Um Hanna All Rights Reserved.</p>
    </footer>
    <!-- //footer -->
</div>
</body>
</html>